{% extends "index.html" %}

{% block content %}
<header class="bg-primary text-white text-center py-4">
    <h1>About This Blog</h1>
</header>

<div class="container my-5">
    <section>
        <h2 class="text-primary">What This Blog is About</h2>
        <p>This blog is dedicated to sharing knowledge about Docker and containerization. Whether you're a beginner looking to understand the basics or an experienced developer aiming to refine your skills, our articles provide practical insights and step-by-step tutorials to help you make the most of Docker in your projects.</p>
    </section>
</div>
{% endblock %}

