{% extends "index.html" %}

{% block content %}
<header class="bg-primary text-white text-center py-4">
    <h1>Contact</h1>
</header>
    <div class="card mx-auto" style="width: 18rem; margin: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="card-header">
            Links
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="https://www.linkedin.com/in/abhinav-naik-6520592b4/">LinkedIn</a></li>
            <li class="list-group-item"><a href="https://github.com/helloitsmeabhi">GitHub</a></li>
           
        </ul>
    </div>
{% endblock %}

